:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $lightOrange;
}

a:hover {
  text-decoration: underline;
}
