body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e6e6e6;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $mainOrange;
}

a:hover {
  text-decoration: underline;
}
