.post {
  padding-bottom: 4.375rem;

  &__title {
    margin: 0;
    color: $mainOrange;
  }

  &__date {
    font: 0.8rem;
    display: block;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
  }
}
